{% extends 'admin_panel_app/base_page.html' %}
{% load static %}

{% block page_headers_block %}
    <link rel="stylesheet" href="{% static 'admin_panel_app/css/create_unit_page.css' %}">
{% endblock %}

{% block page_title_block %}واحد جدید{% endblock %}
{% block page_name_block %}واحد جدید{% endblock %}

{% block page_contents_block %}
    <form class="inputs_div w_90" action="/create_unit_page/" method="post" id="inputs_form">
        {% csrf_token %}
        <div class="input_group_div w_100 margin_top_20">
            <label class="text_color_1 font_Ray" for="unit_name_input">نام واحد:</label>
            <input class="input_element text_color_1 border_0_2 font_Ray" id="unit_name_input" dir="auto" name="unit_name_input" required autocomplete="off">
        </div>
        <div class="button_group_div margin_top_20 w_100 dir_ltr">
            <button class="button_element background_color_2 border_none text_color_0 font_Ray">ذخیره</button>
        </div>
    </form>
{% endblock %}
