{% extends 'admin_panel_app/base_page.html' %}
{% load static %}

{% block page_headers_block %}
    <link rel="stylesheet" href="{% static 'admin_panel_app/css/edit_unit_page.css' %}">
    <script src="{% static 'admin_panel_app/js/edit_unit_page.js' %}"></script>
{% endblock %}

{% block page_title_block %}ویرایش واحد{% endblock %}
{% block page_name_block %}ویرایش واحد{% endblock %}

{% block page_contents_block %}
    <form class="inputs_div w_90" action="/edit_unit_page/" method="post" id="inputs_form">
        {% csrf_token %}
        <input type="hidden" name="unit_id" value="{{ unit_data.id }}">
        <div class="input_group_div w_100 margin_top_20">
            <label class="text_color_1 font_Ray" for="unit_name_input">نام واحد:</label>
            <input class="input_element text_color_1 border_0_2 font_Ray" id="unit_name_input" dir="auto" name="unit_name_input" required autocomplete="off" value="{{ unit_data.unit_name }}">
        </div>
        <div class="button_group_div margin_top_20 w_100 dir_ltr">
            <button class="button_element background_color_2 border_none text_color_0 font_Ray">ذخیره</button>
            <button type="button" class="button_element background_color_0_2 border_none text_color_1 font_Ray margin_left_20" onclick="delete_unit_popup('{{ unit_data.id }}')">حذف واحد</button>
        </div>
    </form>
{% endblock %}
