.map_div {
    position: absolute;
    height: calc(100% - 100px);
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 9;
}

.map_lock_div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.center_marker {
    position: absolute;
    top: calc(50% - 60px);
    left: 50%;
    width: 30px;
    height: 30px;
    background: url('../icons/pin.png') no-repeat center;
    background-size: contain;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.my_location_button {
    background-color: var(--color-0);
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: 10px;
    top: -70px;
    border-radius: 12px;
    box-shadow: 0 0 1em var(--color-0-3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_location_button i {
    display: flex;
    color: var(--color-2);
    font-size: 17px !important;
}

.next_button {
    width: 90%;
    margin-top: 5px;
}

.address_input {
    width: 100%;
    margin-bottom: 5px;
}

.location_form {
    display: flex;
    position: fixed;
    bottom: 60px;
    height: max-content !important;
    width: 100%;
    background-color: var(--color-4);
    border-radius: 12px 12px 0 0;
    z-index: 10;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.my_location_div {
    position: relative;
    z-index: 100;
    width: 100%;
}

.options_div {
    width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    direction: rtl;
}

.dates_div {
    width: max-content !important;
    display: flex;
}

.times_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.one_date_button {
    font-family: Ray, serif;
    padding: 7px;
    border: 1px solid var(--color-0-2);
    border-radius: 12px;
    margin-left: 7px;
    min-width: 100px;
    text-align: center;
    font-size: 12px !important;
}

.one_time_button {
    font-family: Ray_Bold, serif;
    border: 1px solid var(--color-0-2);
    border-radius: 12px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one_time_button span {
    font-size: 12px !important;
}

.address_div {
    width: 90%;
    direction: rtl;
    box-sizing: border-box;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address_div i {
    font-size: 17px !important;
    margin-right: 10px;
}

.selected_address_list {
    width: max-content;
    display: flex;
    margin-bottom: 20px;
}

.one_selected_address {
    background-color: var(--color-2);
    border: none;
    padding: 9px 13px;
    border-radius: 12px;
    font-family: Ray, serif;
    color: var(--color-0);
    display: flex;
    align-items: center;
    font-size: 12px !important;
}

.one_selected_address i {
    margin-left: 5px;
}
