.map_div {
    width: 100%;
    height: 200px;
    box-shadow: 0 0 1em var(--color-0-3);
}

.order_data_div {
    max-height: 150px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid var(--color-0-2);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
}

.order_data_div p {
    margin-top: 0;
    margin-bottom: 0;
}

.garbages_list_div {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one_garbage_div {
    margin-top: 10px;
    box-sizing: border-box;
    direction: rtl;
    border-radius: 12px;
    display: flex;
    background-color: var(--color-0);
    justify-content: space-between;
    box-shadow: 0 0 0.5em var(--color-0-3);
    border: 1px solid var(--color-0-2);
    position: relative;
}

.garbage_data_div {
    flex: 1;
    padding: 7px 5px;
    color: var(--color-2);
    text-align: right;
    font-family: Ray, serif;
}

.leaflet-popup-content,
.leaflet-tooltip {
    font-family: Ray, sans-serif !important;
    font-size: 14px;
    width: max-content !important;
}

.leaflet-control,
.leaflet-control-layers,
.leaflet-control-geocoder {
    font-family: Ray, sans-serif !important;
    font-size: 13px;
}

.leaflet-control-geocoder-form input {
    font-family: Ray, sans-serif !important;
}

.leaflet-control-layers {
    font-size: 16px;
    padding: 5px;
}

.leaflet-control-layers-toggle {
    width: 30px;
    height: 30px;
}