.border_0 {
    border: 1px solid var(--color-0) !important;
}

.border_0_2 {
    border: 1px solid var(--color-0-2) !important;
}

.border_1 {
    border: 1px solid var(--color-1) !important;
}

.border_2 {
    border: 1px solid var(--color-2) !important;
}

.border_3 {
    border: 1px solid var(--color-2) !important;
}

.border_success {
    border: 1px solid var(--color-success) !important;
}

.border_error {
    border: 1px solid var(--color-error) !important;
}

.border_none {
    border: none !important;
}

