:root {
    --color-0: #ffffff;
    --color-0-2: #d3d3d3;
    --color-0-3: #a7a7a7;
    --color-0-4: #f6f6f6;
    --color-1: #000000;
    --color-1-60: rgba(0, 0, 0, 0.6);
    --color-2: #044E51;
    --color-2-50: rgba(4, 78, 81, 0.5);
    --color-3: #044E51;
    --color-4: #67B2B5;

    --color-success: #95ff6a;
    --color-success-50: rgb(219, 255, 204);
    --color-error: #ff4f4f;
    --color-error-50: rgb(255, 176, 176);

    --color-analyze-1: rgba(135, 255, 111, 0.7);
    --color-analyze-2: rgba(127, 133, 255, 0.7);
    --color-analyze-3: rgba(0, 162, 162, 0.7);
    --color-analyze-4: rgba(213, 109, 255, 0.7);
    --color-analyze-5: rgba(255, 253, 109, 0.7);
    --color-analyze-6: rgba(255, 254, 233, 0.7);
    --color-analyze-7: rgba(255, 68, 68, 0.7);
    --color-analyze-8: rgba(255, 132, 9, 0.7);
    --color-analyze-9: rgba(16, 100, 0, 0.7);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.text_color_0 {
    color: var(--color-0) !important;
}

.text_color_0_2 {
    color: var(--color-0-2) !important;
}

.text_color_0_3 {
    color: var(--color-0-3) !important;
}

.text_color_1 {
    color: var(--color-1) !important;
}

.text_color_2 {
    color: var(--color-2) !important;
}

.text_color_3 {
    color: var(--color-3) !important;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.text_color_success {
    color: var(--color-success) !important;
}

.text_color_error {
    color: var(--color-error) !important;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.analyze_color_1 {
    color: var(--color-analyze-1);
    font-family: Delius-Regular, serif;
}

.analyze_color_2 {
    color: var(--color-analyze-2);
    font-family: Delius-Regular, serif;
}

.analyze_color_3 {
    color: var(--color-analyze-3);
    font-family: Delius-Regular, serif;
}

.analyze_color_3_2 {
    color: var(--color-error-50);
    font-family: Delius-Regular, serif;
}

.analyze_color_4 {
    color: var(--color-analyze-4);
    font-family: Delius-Regular, serif;
}

.analyze_color_5 {
    color: var(--color-analyze-5);
    font-family: Delius-Regular, serif;
}

.analyze_color_6 {
    color: var(--color-analyze-6);
    font-family: Delius-Regular, serif;
}

.analyze_color_7 {
    color: var(--color-analyze-7);
    font-family: Delius-Regular, serif;
}

.analyze_color_8 {
    color: var(--color-analyze-8);
    font-family: Delius-Regular, serif;
}

.analyze_color_9 {
    color: var(--color-analyze-9);
    font-family: Delius-Regular, serif;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.background_color_0 {
    background-color: var(--color-0) !important;
}

.background_color_0_2 {
    background-color: var(--color-0-2) !important;
}

.background_color_0_4 {
    background-color: var(--color-0-4) !important;
}

.background_color_1 {
    background-color: var(--color-1) !important;
}

.background_color_1_60 {
    background-color: var(--color-1-60) !important;
}

.background_color_2 {
    background-color: var(--color-2) !important;
}

.background_color_3 {
    background-color: var(--color-3) !important;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.background_color_success {
    background-color: var(--color-success-50) !important;
}

.background_color_error {
    background-color: var(--color-error-50) !important;
}

/*---------------------------------------------------------------------------------------------------------------------------*/