.prices_list_div {
    flex: 1;
}

.one_price_div {
    margin-bottom: 10px;
    box-sizing: border-box;
    direction: rtl;
    border-radius: 12px;
    display: flex;
    background-color: var(--color-0);
    box-shadow: 0 0 0.5em var(--color-0-3);
    border: 1px solid var(--color-0-2);
    position: relative;
    padding: 10px 20px;
}

.div_1 {
    width: 35%;
}

.div_2 {
    width: 30%;
    text-align: center;
}

.div_3 {
    width: 35%;
    text-align: left;
}

.categories_name_div {
    background-color: var(--color-2-50);
    border: 1px solid var(--color-2);
    border-radius: 12px;
    color: var(--color-1);
    font-size: 15px;
    padding: 3px 10px;
    width: fit-content !important;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 5px;
}