.menu_back_div {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
    background-color: var(--color-1-60);
    transform: translateX(-100%);
    transition: 0.3s;
}

.menu_div {
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background-color: var(--color-4);
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.3s;
}

.close_button_div {
    width: 100%;
    position: relative;
}

.close_button {
    position: absolute;
    transform: translate(-100%, -100%);
    background: none;
    border: none;
}

.close_button i {
    font-size: 25px !important;
}

.menu_icon_div {
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.6));
}

.menu_icon_div img {
    width: 100%;
    height: 100%;
}

.menu_links_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 5px;
}

.menu_links_div a {
    width: 90%;
    direction: rtl;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page_main_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.page_top_div {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 0.5em var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: var(--color-2);
    position: relative;
    padding: 0 5%;
    box-sizing: border-box;
}

.menu_button {
    border: none;
    background: none;
    padding: 0;
}

.menu_button i {
    font-size: 25px !important;
    display: flex;
}

.page_data_div {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.user_info_div {
    text-align: right;
}

.page_data_div h1 {
    font-size: clamp(16px, 4vw, 22px);
    color: var(--color-0);
    margin: 0;
}

.page_data_div h4 {
    font-size: 12px;
    margin: 0;
}

.page_contents_div {
    width: 100%;
    flex: 1;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.back_button_div {
    display: flex;
    align-items: center;
}

.add_button {
    display: inline-block;
    font-size: 12px;
}

.back_button {
    background: none;
    font-size: 30px;
    border: none;
}

.back_button i {
    font-size: 20px !important;
}

.page_bottom_div {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 0.5em var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: var(--color-2);
}

.one_page_bottom_link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.one_page_bottom_link i {
    font-size: 18px;
}

.one_page_bottom_link div {
    font-size: 12px;
}

.profile_link {
    display: flex;
    align-items: center;
    font-size: 12px !important;
    color: var(--color-0);
}

.profile_link i {
    display: flex;
    margin-left: 2px;
    margin-right: 5px;
    font-size: 22px !important;
}

.top_icon_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border-radius: 10px 10px 0 0;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.6));
    overflow: hidden;
}

.top_icon_div img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .popup_div {
        width: 80% !important;
    }
}