{% extends 'base_app/base_page.html' %}
{% load static %}

{% block page_title %}تنظیمات حساب کاربری{% endblock %}

{% block page_headers_div %}
    <link rel="stylesheet" href="{% static 'auth_app/css/account_settings_page.css' %}">
    <script src="{% static 'auth_app/js/account_settings_page.js' %}"></script>
{% endblock %}

{% block page_contents_block %}
    <form action="/account_settings_page/" method="post" class="form_1">
        {% csrf_token %}
        <div class="input_group_div w_48 margin_top_10">
            <label class="font_Ray" for="firstname_input">نام </label>
            <input autocomplete="off" type="text" class="input_element background_color_0 border_0_2 font_Ray w_100 text_color_2" id="firstname_input" name="firstname_input" value="{% if user_data.user_firstname %}{{ user_data.user_firstname }}{% endif %}" onkeyup="check_inputs()" {% if not user_data.user_firstname %}placeholder="خالی"{% endif %}>
        </div>
        <div class="input_group_div w_48 margin_top_10">
            <label class="font_Ray" for="lastname_input">نام خانوادگی </label>
            <input autocomplete="off" type="text" class="input_element background_color_0 border_0_2 font_Ray w_100 text_color_2" id="lastname_input" name="lastname_input" value="{% if user_data.user_lastname %}{{ user_data.user_lastname }}{% endif %}" onkeyup="check_inputs()" {% if not user_data.user_lastname %}placeholder="خالی"{% endif %}>
        </div>
        <div class="input_group_div w_48 margin_top_10">
            <label class="font_Ray" for="national_code_input">کد ملی </label>
            <input autocomplete="off" type="tel" class="input_element background_color_0 border_0_2 font_Ray w_100 text_color_2" dir="rtl" id="national_code_input" name="national_code_input" value="{% if user_data.national_code %}{{ user_data.national_code }}{% endif %}" onkeyup="check_inputs()" {% if not user_data.national_code %}placeholder="خالی"{% endif %}>
        </div>
        <div class="input_group_div w_48 margin_top_10">
            <label class="font_Ray" for="identification_code_input">کد معرف</label>
            <input autocomplete="off" type="tel" class="input_element background_color_0 border_0_2 font_Ray w_100 text_color_2" dir="rtl" id="identification_code_input" name="identification_code_input" value="{% if user_data.set_identification_code %}{{ user_data.set_identification_code }}{% endif %}" {% if user_data.set_identification_code %}readonly{% endif %} {% if not user_data.set_identification_code %}placeholder="خالی"{% endif %}>
        </div>
        <div class="input_group_div w_100 margin_top_10">
            <label class="font_Ray" for="phone_number_input">شماره موبایل</label>
            <input autocomplete="off" type="tel" class="input_element background_color_0 border_0_2 font_Ray w_100 text_color_2 disabled_element" dir="rtl" id="phone_number_input" name="phone_number_input" value="09{{ user_data.phone_number }}" readonly>
        </div>
        <div class="input_group_div w_100 margin_top_10">
            <label class="font_Ray" for="home_address_input">آدرس</label>
            <textarea class="input_element background_color_0 border_0_2 font_Ray text_area text_color_2" id="home_address_input" name="home_address_input">{% if user_data.home_address != None %}{{ user_data.home_address }}{% endif %}</textarea>
        </div>
        <div class="w_100 button_group_div margin_top_20">
            <button class="button_element font_Ray background_color_0 border_none text_color_1 w_100 disabled_element" disabled id="save_button">ذخیره</button>
        </div>
    </form>
{% endblock %}