.map_div {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    margin-top: 20px;
}

.text_p {
    line-height: 40px;
}

.icon_div {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.icon_div img {
    width: 100%;
    height: 100%;
}

.selected_address_list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.one_selected_address {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0.5em var(--color-0-2);
    background-color: var(--color-0);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 10px;
    align-items: center;
}

.address_map_div {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
    width: 100px;
    height: 100px;
    position: relative;
}

.data_div {
    flex: 1;
    direction: rtl;
}

.center_marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url('../icons/pin.png') no-repeat center;
    background-size: contain;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.delete_address_span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}

.map_lock_div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.no_address_div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.no_address_icon i {
    font-size: 80px !important;
    color: var(--color-2);
}