body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-0) !important;
}

.login_div {
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 1em var(--color-0-2);
    background-color: var(--color-0);
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}