.page_contents_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs_div {
    width: 90%;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.check_input_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*flex-direction: row-reverse;*/
    padding: 7px 5px;
    box-sizing: border-box;
    border-radius: 12px;
    justify-content: flex-start;
}

.checks_group_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checks_group_div div {
    display: flex;
    flex-direction: row-reverse;
}

.message_text_input {
    height: 150px;
}

.button_group_div {
    justify-content: flex-start;
}

.ju_con_sp_bet {
    justify-content: space-between !important;
}