.page_contents_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requests_list_div {
    width: 90%;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}

.order_status_button {
    font-size: 12px;
    padding: 3px 0 !important;
}

.text_area {
    height: 250px;
}

.options_div {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.filter_checks {
    display: flex;
    flex-direction: row-reverse;
}

.check_input_div {
    display: flex;
    align-items: center;
}

.date_input_div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.date_input_div label {
    direction: rtl;
    margin-left: 5px;
}

.date_input_div input {
    padding: 5px !important;
}

.pwt-datepicker,
.pwt-datepicker * {
    font-family: Ray, serif !important;
}