.options_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 20px;
}

.date_input_div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.date_input_div label {
    direction: rtl;
    margin-left: 5px;
}

.date_input_div input {
    padding: 5px !important;
}

.circle_chart_div {
    width: 35%;
    height: auto;
    background-color: var(--color-0-4);
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.circle_chart_div canvas {
    width: 100%;
    height: 100%;
}

.bar_chart_div {
    flex: 1;
    height: auto;
    background-color: var(--color-0-4);
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 10px;
}

.bar_chart_div canvas {
    width: 100%;
    height: 100%;
}

.charts_div {
    margin-top: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);
}