.page_contents_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}

.top_div {
    margin-top: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.bottom_div {
    width: 95%;
    flex: 1;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.title_h {
    margin-top: 0;
    margin-bottom: 10px;
}

.order_main_data_div {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.panel_div_1 {
    width: 300px;
    background-color: var(--color-0);
    border: 1px solid var(--color-0-3);
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
}

.panel_div_2 {
    flex: 1;
    margin-right: 20px;
    background-color: var(--color-0);
    border: 1px solid var(--color-0-3);
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
}

.order_map_data_div {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.order_garbages_data_div {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100% !important;
}

.order_status_button {
    font-size: 12px;
    padding: 3px 0 !important;
}

.map_div {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 0 1em var(--color-0-3);
}

.copy_button {
    font-size: 12px;
    padding: 3px 10px !important;
}

.one_garbage_div {
    width: 49%;
    margin-bottom: 10px;
    box-sizing: border-box;
    direction: rtl;
    border-radius: 12px;
    display: flex;
    background-color: var(--color-0);
    justify-content: space-between;
    border: 1px solid var(--color-0-2);
    position: relative;
}

.garbage_data_div {
    flex: 1;
    padding: 7px 5px;
    color: var(--color-2);
    text-align: right;
    font-family: Ray, serif;
}