.page_contents_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders_list_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.order_data_div {
    flex: 1;
    padding: 10px;
    color: var(--color-2);
    font-family: Ray, serif;
    display: flex;
    align-items: center;
}

.description_text {
    font-size: 12px;
}

.show_button {
    font-size: 22px;
    color: var(--color-2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show_button i {
    display: flex;
}

.order_title_div {
    width: 250px;
}

.order_description_div {
    flex: 1;
}

.order_date_div {
    width: 300px;
}

.order_status_button {
    font-size: 12px;
    padding: 3px 0 !important;
}

.one_order_div {
    width: 90%;
    margin-top: 10px;
    box-sizing: border-box;
    direction: rtl;
    border-radius: 12px;
    background-color: var(--color-0);
    box-shadow: 0 0 0.5em var(--color-0-3);
    border: 1px solid var(--color-0-2);
    position: relative;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.one_order_div div {
    font-family: Ray, serif;
    flex: 1;
    text-align: center;
}

.map_hide_div {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
}

.map_main_div {
    width: 100px !important;
    max-width: 100px !important;
    flex: initial !important;
}

.map_div {
    width: 400px;
    height: 400px;
    margin-top: 10px;
}

.map_lock_div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.center_marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url('../icons/pin.png') no-repeat center;
    background-size: contain;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.copy_location_div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-1-60);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-0);
    opacity: 0;
    transition: 0.3s;
}

.map_hide_div:hover .copy_location_div {
    opacity: 1;
}

.garbage_group_div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.delete_button_div {
    margin-top: 12px;
}

.garbage_group_div .delete_button i {
    font-size: 20px !important;
    color: var(--color-error);
}

.description_span {
    font-size: 12px;
    min-height: 20px;
}

.h_max {
    max-height: max-content !important;
    margin-top: 10px;
    box-sizing: border-box;
    direction: rtl;
    border-radius: 12px;
    box-shadow: 0 0 0.5em var(--color-0-3);
    border: 1px solid var(--color-0-2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
    background-color: var(--color-2);
}

.h_max div {
    font-family: Ray, serif;
    text-align: center;
    flex: 1;
    color: var(--color-0);
}