.page_contents_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders_list_div {
    width: 90%;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}

.show_button {
    font-size: 22px;
    color: var(--color-2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show_button i {
    display: flex;
}

.icon_td {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_td i {
    margin-top: 5px;
}