body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_div {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.form_1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.link_1 {
    display: inline-block;
}

