body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.login_div {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.link_1 {
    display: inline-block;
}

.icon_div {
    width: 60px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px 10px 0 0;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.6));
}

.icon_div img {
    width: 100%;
    height: 100%;
}

.login_form {
    margin-top: 90px;
}

.button_group_div button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_group_div button i {
    display: flex;
    margin-left: 4px;
}

